<div class="container">
  <div
    class="img_container outlined_box_4px"
    [ngStyle]="{ backgroundImage: 'url(' + ingredientImgData + ')' }"
  >
    <i 
    class="edit fa-solid fa-pen-to-square outlined_text_2px"
    (click)="openDialog()"
    ></i>
    <p class="ingredient_name montserrat outlined_text_2px">
      {{ ingredient.name }}
    </p>
  </div>
  <div class="user_row">
    <img class="outlined_box_4px avatar" src="{{ authorAvatarData }}" alt="" />
    <div class="fullname montserrat outlined_text_2px" style="font-size: 18px">
      {{ author.fullname }}
    </div>
  </div>
  <div class="description open-sans">
    {{ ingredient.description }}
  </div>
  <app-custom-button
    style="margin: 12px; margin-top: auto"
    btnStyle="red"
    label="Delete"
    [verticalPadding]="4"
    [fontSize]="20"
    (OnClick)="deleteCurrentIngredient()"
  ></app-custom-button>
</div>
