.container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* margin: 0; */
}
.horizontal_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}
.content{
    flex: 1;
}
