button {
  font-size: 30px;
  padding-top: 18px;
  padding-bottom: 18px;
  width: 100%;

  font-weight: 800;

  border: 2px solid black;
  border-radius: 8px;
  box-shadow: 0px 4px 0px 0px black;
}
.green {
  background-color: #91dd54;
}

.green:hover {
  background-color: #639a37;
}

.green:active {
  background-color: #639a37;
  box-shadow: 0px 0px 0px 0px black;

  transform: translateY(4px);
}

.red {
  background-color: #EE3B3B;
}

.red:hover {
  background-color: #be2626;
}

.red:active {
  background-color: #be2626;
  box-shadow: 0px 0px 0px 0px black;

  transform: translateY(4px);
}
