<div class="container">
    <div class="outlined_box_4px sidebar_header over">
        <span class="montserrat outlined_text_2px" style="font-size: 30px;">@Username</span>
    </div>
  <app-custom-button
    label="Overview"
    class="overview_button"
    btnStyle="green"
  ></app-custom-button>
  <app-custom-button
    label="User"
    class="overview_button"
    btnStyle="green"
  ></app-custom-button>
  <app-custom-button
    label="Recipes"
    class="overview_button"
    btnStyle="green"
  ></app-custom-button>
  <app-custom-button
    label="Ingredients"
    class="overview_button"
    btnStyle="green"
  >
  </app-custom-button>
  <app-custom-button
    label="Logout"
    class="overview_button"
    style="margin-top: auto; margin-bottom: 35px;"
    btnStyle="red"
  >
  </app-custom-button>
</div>
