.container{
    width: 600px;
    padding: 12px;
    background-color: #DFCBAD;

}
.inner_container{
    background-color: #E8DCBF;
    padding:36px
}
.title{
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 48px;
}
.form{
    margin-bottom: 32px;
    margin-top: 32px;
}

.check{
    font-size: 16px;
    font-weight: 800;
}