<div class="container outlined_box_4px">
    <div class="user_row">
        <div class="outlined_box_4px avatar"></div>
        <div class="user_info">
            <p class="outlined_text_2px_no_shadow open-sans" style="font-size: 16px; font-weight: 800;">Username Username Username</p>
            <p class="open-sans username" style="font-weight: 800;">@Username</p>
        </div>
        <div class="duration outlined_box_4px">
            <p class="open-sans outlined_text_2px_no_shadow">180 m</p>
        </div>
    </div>
    <div class="recipe_row">
        <div class="recipe_name open-sans outlined_text_2px">Recipe name con croquetas</div>
        <div class="favorites">
            <p class="outlined_text_2px_no_shadow" style="font-weight: 800; font-size: 18px; transform: translateY(10px);">180</p>
            <i class="fa-solid fa-heart outlined_text_2px_no_shadow"></i>
        </div>
    </div>
</div>