<div class="container">
  <div class="container_home">
    <div class="main_panel outlined_box_0px">
      <div class="main_content">
        <span class="home montserrat outlined_text_2px">Ingredients</span>
        <div
          class="ingredient_list"
          infinite-scroll
          [infiniteScrollDistance]="3"
          [infiniteScrollThrottle]="200"
          (scrolled)="onScroll()"
          [scrollWindow]="false"
        >
          <div class="add_button outlined_box_4px" (click)="openDialog()">
            <span class="add outlined_text_2px_no_shadow">+</span>
          </div>
          <ng-container *ngFor="let ingredient of ingredientList">
            <app-ingredient-card
              style="width: 340px"
              (OnClick)="getSelectedIngredient(ingredient)"
              [ingredient]="ingredient"
            />
          </ng-container>
        </div>
      </div>
    </div>
    <div
      class="selected_panel outlined_box_0px"
      *ngIf="selectedIngredient.name != null"
    >
      <app-ingredient-details
        style="width: 100%"
        [ingredient]="selectedIngredient"
        [author]="selectedIngredient.author"
      />
    </div>
  </div>
</div>
