<div class="container">
  <div class="avatar outlined_box_4px"></div>
  <div class="fullname montserrat outlined_text_2px">
    Macarena Rodriguez Nespral
  </div>
  <div class="description open-sans">
    Very very
    looooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooong text
    like very long, lmao el que tengo aqui colgao no se voy a poner muchas
    palabras aqui que esto hay que rellenarlo y hay que ver que tal queda
  </div>
  <div class="data open-sans">
    <div class="birthday">
      <i class="fa-solid fa-cake-candles"></i>
      10/01/1998
    </div>
    <div class="register_date">
      <i class="fa-solid fa-calendar-days"></i>
      08/05/2023
    </div>
  </div>
</div>
